/* You can add global styles to this file, and also import other style files */
.main-header-adjust {
    margin-left: 0px !important;
}

.content-wrapper-adjust {
    margin-left: 0px !important;

}

.main-footer-adjust {
    margin-left: 0px !important;

}